table.table.table-success.position-absolute.zindex-modal {
}
.main {
  div.container {
    .search_result {
      table {
        top: 34px;
        max-width: 1119px;
        width: 100%;
      }
    }
  }
}
